---
layout: default
---
<!-- hero -->

<div class="row">
    <section class="hero home col-xs-24">
      <div class="branding">
          <p class="black"></p>
      </div>
    </section>
</div>
<!-- intro -->
<div class="row">
    <section id="about" class="section first col-xs-24">
        <div class="content-wrap">
            <h1 class="section-headline">Quartierchor Nachtigall</h1>
            <p>Wir sind ein Chor aus dem Stadtteil Berlin Neukölln. Uns verbindet die Leidenschaft am gemeinsamen Singen und einer guten Zeit. Dabei sind wir nicht auf ein besonderes Genre festgelegt. Wir verstehen uns als eine gute Mischung zwischen Anspruch und Spaß.</p>
        </div>
    </section>
</div>

<div class="row">
    <section id="concert" class="section yellow col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Konzerte</h2>
            <p><strong>Hier könnt ihr uns als nächstes hören.</strong></p>
        </div>
        <div class="row">
            <p>
            {% include partials/events.liquid %}
            </p>
        </div>
    </section>
</div>


{% include partials/sections/apply.liquid %}
