<!-- mitmachen -->
<div class="row">
    <section id="join" class="section blue col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Mitsingen</h2>
            <p>Wenn du im Tenor oder Bass mitsingen möchtest, dann schreib uns eine Mail! Die Wartelisten für die anderen Stimmen sind derzeit voll, dass wir dich bitten, von Anfragen abzusehen. Du musst bei uns nicht vorsingen. Wir freuen uns über jede weitere engagierte Bass- und Tenorstimme.</p>
        </div>
        <div class="content-wrap btn-wrap">
            <a class="edu-btn white" href="mailto:{{ site.email | encode_email }}?Subject=[Chor-Website]">Los geht's</a>
        </div>
    </section>
</div>
