<!-- mitmachen -->
<div class="row">
    <section id="join" class="section blue col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Mitsingen</h2>
            <p>Wenn du mitsingen willst, dann schreibe uns eine Mail mit der Information zu deiner Stimmlage. Wir haben ein Listenverfahren und melden uns bei dir, wann ein erstes Mitsingen möglich ist. Du musst nicht vorsingen. Wir freuen uns über jede engagierte Stimme!</p>
        </div>
        <div class="content-wrap btn-wrap">
            <a class="edu-btn white" href="" target="_blank">Los geht's</a>
        </div>
    </section>
</div>
